<ion-grid fixed>
  <ion-row *ngFor="let item of options; let i = index;">
    <ion-col size="6">
      <ion-label>{{item}}</ion-label>
    </ion-col>
    <ion-col size="6">
      <ion-icon [name]="star1" (click)="starToggle(1, i)" color="warning"></ion-icon>
      <ion-icon [name]="star2" (click)="starToggle(2, i)" color="warning"></ion-icon>
      <ion-icon [name]="star3" (click)="starToggle(3, i)" color="warning"></ion-icon>
      <ion-icon [name]="star4" (click)="starToggle(4, i)" color="warning"></ion-icon>
      <ion-icon [name]="star5" (click)="starToggle(5, i)" color="warning"></ion-icon>
    </ion-col>
  </ion-row>
</ion-grid>
