.div-desc{
    background-color: #dadada;    
    color: var(--ion-color-primary);
    padding: 10px;
}

ion-icon{
    font-size: 40px;
}

.div-calf-container{
    text-align: center;        
}

p{
    margin: 0;
}